.board-show {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;

    // button {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
        
    //     font-size: 3rem;
    //     box-sizing: border-box;
    //     background-color: red;
    //     padding: 1rem;
    //     // width: 50%;
    //     border-radius: 50%;
    // }

    .header {
        display: flex;
    
        h1 {
            font-size: 35px;
            font-weight: 600;
            padding-right: 10px;
        }

        .edit-form-link {
            height: 34px;
            box-sizing: border-box;
            background-color: rgb(236, 236, 236);
            padding: 7px;
            border-radius: 50%;
        }

        .edit-form-link:hover {
            cursor: pointer;
            background-color: var(--hov-grey);
        }
    }

    .add-pin-btn {
        cursor: pointer;
        background-color: red;
        border-radius: 50%;
        padding: 1rem;
        font-size: 2rem;
    }
}
