.board-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .header {
        display: flex;
    
        h1 {
            font-size: 35px;
            font-weight: 600;
            padding-right: 10px;
        }

        .edit-form-link {
            height: 34px;
            box-sizing: border-box;
            background-color: rgb(236, 236, 236);
            padding: 7px;
            border-radius: 50%;
        }

        .edit-form-link:hover {
            cursor: pointer;
            background-color: var(--hov-grey);
        }
    }

    .add-pin-btn {
        cursor: pointer;
        bottom: 0;
    }
}
