// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: 4px dashed grey;

}