@mixin small-text {
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: var(--lett-space);
}

.home-nav-bar {
    // position: fixed;
    // top: 0;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    box-sizing: border-box;
    padding: 13px;
    background-color: white;
    width: 100%;
}


.home-nav-bar {
    
    .nav-link-container{
        display: flex;
        justify-content: flex-start; 
        
        .nav-links {
            display: flex;
            align-items: center;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                padding: .7rem;
                border-radius: 50%;


                .home-logo {
                    height: 27px;
                }
            }

            span:hover {
                background-color: var(--lt-grey);
            }

            li {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 14px;
                border-radius: 9999px;
                border: none;
                font-size: 16px;
                font-weight: 600;
                box-sizing: border-box;
            }
            
            li.active {
                background-color: black;
                color: white;
            }
            
        } 
    }
    .searchbar-container {
        width: 100%; 
    }

    .searchbar-outer {
        width: 100%;
    }
}

.home-nav-bar li:hover {
    background-color: var(--lt-grey);
}

.home-nav-bar .nav-links li:focus  {
    border: 3px solid rgb(138, 192, 255);
}

.home-nav-bar .nav-dropdowns-container {
    min-width: 110px;
    margin-left: 10px;
}

.home-nav-bar .nav-dropdowns {
    display: flex;
    justify-content: space-around;
}

.update-bell {
    height: 13px;
    width: 13px;
}

.inbox-link {
    height: 13px;
    width: 13px;
}


.home-nav-bar .searchbar {
    background-color: var(--lt-grey);
    border-radius: 9999px;
    height: 48px;
    width: 100%;
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
}

.home-nav-bar .searchbar:focus {
    border: 3px solid rgb(138, 192, 255);
    background-color: rgb(232, 240, 251);
    /* margin-right: 10px; */
    height: 44px;
}

#initial {
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(236, 236, 236);
    box-sizing: border-box;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
}

.initial-con {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.initial-con:hover {
    background-color: var(--lt-grey);
}

.dropdown-outer {
  position: relative; 

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        border-radius: 50%;

        img {
                width: 16px;
        }
    }

    span:hover {
        background-color: var(--lt-grey);
    }

    .dropdown-inner {
        position: absolute;
        right: -15px;
        width: 200px;
        border-radius: 14px;
        margin-top: 16px;
        font-size: 16px;
        padding: 7px;
        // text-align: center;
        background-color: white;
        box-shadow: var(--drop-box-shad);
        padding: 1rem;
        cursor: auto;
        z-index: 2;

        input {
            width: 100%;
            padding: .5rem;
            border-radius: .5rem;
        }

        input:hover{
            background-color: var(--lt-grey);
        }

        h3 {
            padding: .6rem;
            @include small-text;
        }
        
        button {
            width: 100%;
            border-radius: .6rem;
            padding: .6rem;
            cursor: pointer;
        }

        button:hover {
            background-color: var(--lt-grey);
        }
    }
}

.home-nav-bar {

    .online-presence {
        display: flex;

        a > img {
            width: 30px;
            height: 30px;
            filter: brightness(0%);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: .7rem;
        }
        
        a:hover, a:active {
            background-color: var(--lt-grey);
        }
    }
    
    .nav-dropdowns-container{

        li {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .prof-pic {
            border-radius: 50%;
            padding: .7rem;

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                clip-path: circle(13px at center);
            }
        }
    }

    
} 