li {
    list-style: none;
}

.logo {
  height: 18px;
  width: 18px;
}

.header-logo {
    float: left;
    display: flex;
    padding-left: 13px;
    padding-top: 3px;
}

.header-logo li{
    color:rgb(214, 0, 11);
    padding: 1px;
}

.app-name {
  margin-top: 3px;
  font-size: 11px;
}

.header-nav-lists {
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    padding-top: 3px;
}

.header-nav-lists ul {
  display: flex;
  justify-content: flex-start;
}

.mid-links {
  padding-top: 6px;
  padding-right: 11px;
}

.mid-links li {
 padding-right: 18px;
}

.mid-links li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-links{
  padding-left: 0px; 
}

.nav-links button {
  border-radius: 12px;
  border: none;
  font-size: 9px;
  font-weight: bold;
  padding: 6px;
  
}

.nav-links .login {
  background-color: rgb(214, 0, 11);
  color: white; 
  margin-right: 10px;
}

.nav-links .login:hover {
  background-color: rgb(165, 0, 8);
  cursor: pointer;  
}

.nav-links .signup {
  background-color: rgb(236, 236, 236);
  color: black;
}

.nav-links .signup:hover {
  background-color: rgb(219, 218, 218);
  cursor: pointer;
}