.edit-profile-form {
     img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        // overflow: hidden;
        clip-path: circle(40px at center);
     }
}

.profile-photo__input {
    display: none;
}