.edit-profile-form {
    display: flex;
    // justify-content: center;

    width: 100%;
    height: 100%;
    padding: 0 2rem;
    box-sizing: border-box;    
    
    form {
        align-self: flex-start;
        box-sizing: border-box;
        padding: .5rem;
        margin-top: 2rem;
    }

    h1 {
        font-size: 1.75rem;
        font-weight: 640;
        letter-spacing: var(--lett-space);
    }
    
    h2 {
        letter-spacing: var(--lett-space);
        font-weight: 100;
    }
    
    h3 {
        letter-spacing: var(--lett-space);
        font-size: 12px;
        padding: .5em 0;
    }

    button {
        cursor: pointer;
        border-radius: 9999px;
        padding: .8rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: var(--lt-grey);
    }

    button:hover {
        background-color: var(--hov-grey);
    }

    
    input, textarea {
        border: 2px solid var(--border-gry);
        padding: .7rem;
        border-radius: 1em;
        font-weight: 100;
        letter-spacing: var(--lett-space);
    }
    
    .username__input, textarea {
        width: 100%;
    }
    
    textarea {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
        min-height: 100px;
        resize: none;
    }

    .photo-change {
        display: flex;
        align-items: center;

        img {
           width: 80px;
           height: 80px;
           object-fit: cover;
           clip-path: circle(40px at center);
        }

        button {
            margin-left: 1.5rem;
        }
    }

    .name-input-con {
        display: flex;
        justify-content: space-between;

        .lname__input {
            margin-left: .5rem;
        }
    }
}

.profile-photo__input {
    display: none;
}