.profile-page .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-page .heading .initial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 45px;
}

.profile-page .heading h1 {
    background-color: rgb(236, 236, 236);
    font-size: 45px;
    font-weight: 600;
}

.profile-page .heading h2 {
    font-size: 30px;
    font-weight: 550;
    padding: 10px;
}

.profile-page {
    
    .heading {

        img {
            width: 130px;
            height: 130px;
            object-fit: cover;
            clip-path: circle(65px at center);
            margin-top: 1rem;
        }

        h4 {
            font-weight: 600;
            padding: .5rem 0;
        }

        h4:hover {
            cursor: pointer;
        }
    }

    .mid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        img {
            width: 25px;
        }

        // .edit-link {
            
            //     background-color: green;
            // }
            
        .edit-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        .edit-link:hover {
            background-color: var(--lt-grey);
        }
        
        // button {
        //     height: 50px;
        //     width: 50px;
        //     border-radius: 50%;
        //     background-color: yellow;
        //     border-radius: 50%;
        //     height: 100%;
        // }
        
    }
}
