@mixin small-text {
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: var(--lett-space);
}

.board-drop {
    width: 100%;

    &__select {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 300;
        padding: .7rem;
        letter-spacing: var(--lett-space);

        img {
            width: 20px;
        }
    }

    &__inner {
        position: absolute;
        background-color: white;
        width: 250px;
        padding: .8rem;
        border-radius: .8rem;
        box-shadow: 0 0 10px #77777757;
        margin-top: .5rem;


        h2 {
            @include small-text;
            padding: .5rem 0;
        }

        input {
            width: 100%;
            font-weight: 500;
            padding: .8rem;
            border-radius: .8rem;
            letter-spacing: var(--lett-space);
        }

        input:hover {
            background-color: var(--lt-grey);
        }
    }
}

.edit-pin-form {

    .board-drop {
        // width: 100%;
        box-sizing: border-box;
    
        &__select {
            box-sizing: border-box;
            border-radius: .5rem;
            // width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: 300;
            padding: .7rem;
            letter-spacing: var(--lett-space);
            background-color: var(--lt-grey);
    
            img {
                width: 20px;
            }
        }
    
        &__inner {
            position: absolute;
            background-color: white;
            // width: 100px;
            padding: .8rem;
            border-radius: .8rem;
            box-shadow: 0 0 10px #77777757;
            margin-top: .5rem;
            box-sizing: border-box;
    
    
            h2 {
                @include small-text;
                padding: .5rem 0;
            }
    
            input {
                // width: 100%;
                font-weight: 500;
                padding: .8rem;
                border-radius: .8rem;
                letter-spacing: var(--lett-space);
                border: none;
            }
    
            input:hover {
                background-color: var(--lt-grey);
                border: none;
            }
        }
    }
}
