.crt-pin-drop {
    bottom: 0px;
    position: fixed;
    
    &__outer {
        display: flex;
        flex-direction: column-reverse;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: red;

        img {
           width: 25px; 
        }
    }

    &__inner {
        background-color: green;
    }

}