.board-pin-drop {
    display: flex;
    flex-direction: column;

    &__outer {
        background-color: green;
        position: relative;

        // display: flex;
        // flex-direction: column;
    }
    
    &__inner {
        background-color: red;
        position: absolute;
        right: 0rem;
        // padding: .5rem; 

        button {
            // padding: .5rem;
        }
    }
}
