@mixin small-text {
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: var(--lett-space);
}

.crt-pin-drop {
    bottom: 15px;
    position: fixed;
    
    &__outer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: white;

        img {
           width: 26px; 
        }
    }

    &__inner {
        box-sizing: border-box;
        background-color: white;
        padding: 1.2rem .8rem;
        border-radius: var(--b-rad-sm);
        margin-bottom: .5rem;
        width: 150px;
        cursor: auto;
        
        h1 {
            font-size: 1.2rem;
            font-weight: 600;
            width: 100%;
            border-radius: var(--b-rad-sm);
            padding: .5rem;
        }

        h1:hover {
            background-color: var(--lt-grey);
            cursor: pointer;
        }

        h2 {
            @include small-text;
            padding: .5rem;
        }
    }

}