.home-page {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(19, 26, 8); */
    box-sizing: border-box;
    margin: 10px;
}

.home-page ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* background-color: cyan; */
    width: 100%;
    box-sizing: border-box;
} 


.home-page img {
    padding: 7px;
    border-radius: 21px;
    width: 100%;
    /* background-color: coral; */
    box-sizing: border-box;
    margin-top: 18px;
}

.main-home-page {
    padding: 3.5rem;
    background-color: red;
}
