.outer-section h1{
    font-size: 60px;
    margin: 0px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    left: 0px;
    color: rgb(97, 140, 123);
    width: 100%;
}

.outer-section h1:first-child {
    color: black;
}

.outer-section h1:last-child {
    color: rgb(190, 190, 190);
}

.splash img {
    width: 100%;
    padding: 4px;
    border-radius: 20px;
}

.splash {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

} 

.splash ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 4px;
} 

.splash .inner-section {
    display: flex;
    flex-direction: row;
}

.outer-section {
    margin-top: 20px;
    width: 100%;
}

.splash section {
    width: 100%;
}


.splash ul li {
    width: 100%;
}

.splash .middle {
    margin-top: 268px;
}

.splash .middle-outer {
    margin-top: 143px;
}

.splash .outer {
    margin-top: 36px;
}


.splash .left img {
    min-height: 290px;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
    padding-left: 0px;
}

.splash .right img {
    min-height: 290px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    padding-right: 0px;
}

.splash .right, .splash .left {
    margin-top: 119px;
    width: 3%;
    height: 100%
}