.create-pin-form-con {
    box-sizing: border-box;
    background-color: var(--lt-grey);
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
    .create-pin-form {
        box-sizing: border-box;
        background-color: white;
        width: 65%;
        min-width: 700px;
        border-radius: 1.5rem;
        padding: 35px;
        min-height: 600px;
        
        display: flex;
        flex-direction: column;
        // position: relative;

        &__screen {
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.452);
            position: absolute;
            display: none;
        }

        // &__loader {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        // }

        &__drop {
            display: flex;
            justify-content: flex-end;

            .ellipsis {
                width: 30px;
                height: 30px;
                align-self: center;
                filter: invert(50%);
            }
        }

        &__drop-inner {
            box-sizing: border-box;
            background-color: var(--lt-grey);
            display: flex;
            width: 250px;
            justify-content: space-between;
            border-radius: .5rem;
            position: relative;
        }

        &__save {
            background-color: var(--red);
            width: 35%;
            color: white;
            border-radius: 0 .6rem .6rem 0;
            text-align: center;
        }

        &__save:hover {
            background-color: var(--red-btn-hov);
        }
        
        .create-pin-form__inner {
            display: flex;

            .drop-zone {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 45%;
                border-radius: var(--b-rad);
                background-color: var(--lt-grey);
                padding: 10px; 
                height: 100%;
                border-radius: var(--b-rad-sm);
                letter-spacing: var(--lett-space);

                &__delete {
                    position: absolute;
                    background-color: white;
                    width: 45px;
                    height: 45px;
                    margin-top: -22.5px;
                    top: 50%;
                    left: 5%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    img {
                        width: 15px;
                    }
                }
                
                &__inner {
                    height: 100%;
                    padding: 25px;
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    cursor: pointer;
                    border: 3px dashed rgb(214, 214, 214);
                    border-radius: var(--b-rad-sm);
                    
                    h1 {
                        color: var(--font-drk-grey);
                        font-weight: 300; 
                        text-align: center; 
                        padding: 0 2rem;                      
                    }

                    h2 {
                        color: #949494;
                        font-size: .9rem;
                        text-align: center;
                    }
                }
                
                &__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8rem 0;
                }

                &__arrow {
                    width: 40px;
                    filter: invert(50%);
                    padding: 1rem 0;
                }
            }
        }

        &__text {
            display: flex;
            justify-content: center;
            width: 55%;
        }

        &__text-inner {
            padding: 2.5rem;
        }
    
        &__input {
            width: 100%;
            font-size: 2.2rem;
            font-weight: 600;
            border-bottom: 1px solid #8f8f8f;
            padding: 1rem 0;
            // background-color: pink;
        }
        
        &__input:focus {
            border-bottom: 2px solid rgb(42, 92, 228);
        }

        &__input-error {
            color: red;
            height: 1rem;
            font-size: .8rem;
            font-weight: 100;
            letter-spacing: var(--lett-space);
            padding-top: .5rem;
        }
        
        &__textarea {
            width: 100%;
            // background-color: pink;
            resize: none;
            font-weight: 200;
            letter-spacing: var(--lett-space);
            padding-top: 1rem;
            border-bottom: 1px solid #8f8f8f;
            margin: 3rem 0;
        }
        
        &__textarea::placeholder {
            color: rgb(172, 172, 172);
        }
        
        &__textarea:focus {
            border-bottom: 2px solid rgb(42, 92, 228);
        }
    }
}

.drop-zone--over {
    border: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--lt-grey);
    background-size: cover;
}