.create-pin-form-con {
    box-sizing: border-box;
    background-color: var(--lt-grey);
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    .create-pin-form {
        box-sizing: border-box;
        background-color: white;
        width: 65%;
        min-width: 700px;
        border-radius: 1.5rem;
        padding: 35px;
        
        display: flex;
        flex-direction: column;

        &__drop {
            display: flex;
            justify-content: space-between;

            .ellipsis {
                width: 30px;
                height: 30px;
                align-self: center;
                filter: invert(50%);
            }
        }

        &__drop-inner {
            box-sizing: border-box;
            background-color: var(--lt-grey);
            display: flex;
            width: 250px;
            justify-content: space-between;
            border-radius: .5rem;
            position: relative;
        }

        &__save {
            background-color: var(--red);
            width: 35%;
            color: white;
            border-radius: 0 .6rem .6rem 0;
            text-align: center;
        }
        
        .create-pin-form__inner {
            display: flex;

            .drop-zone {
                border-radius: var(--b-rad);
                background-color: var(--lt-grey);
                padding: 10px; 
                height: 100%;
                border-radius: var(--b-rad-sm);
                letter-spacing: var(--lett-space);
                
                &__inner {
                    height: 100%;
                    padding: 25px;
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    cursor: pointer;
                    border: 3px dashed rgb(214, 214, 214);
                    border-radius: var(--b-rad-sm);
                    
                    h1 {
                        color: var(--font-drk-grey);
                        font-weight: 300;                        
                    }

                    h2 {
                        color: #949494;
                        font-size: .9rem;
                    }
                }

                &__img {
                    width: 40px;
                    filter: invert(50%);
                }
            }

        }

        &__text {
            display: flex;
            flex-direction: column;
        }
    
        &__input {
            font-size: 2rem;
            font-weight: 600;
            border-bottom: 1px solid grey;
        }
        
        &__textarea {
            resize: none;
            border-bottom: 1px solid rgb(143, 143, 143);

        }
    }
}

.drop-zone--over {
    border: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--lt-grey);
    background-size: cover;
}