@mixin form-input {
    border-radius: 12px;
    border: 2px solid rgb(219, 219, 219);
    min-height: 23px;
    padding: 9px;
}

@mixin form-textarea {
    border-radius: 12px;
    border: 2px solid rgb(219, 219, 219);
    min-height: 123px;
    padding: 9px;
    font-size: 17px;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
    resize: none;
}

@mixin small-text {
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: var(--lett-space);
}

@mixin btn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1em;
    border-radius: 9999px;
}

@mixin red-btn { 
    background-color: var(--red);
    color: white;
}

@mixin grey-btn {
    background-color: var(--lt-grey);
    color: var(--font-drk-grey);  
}

.edit-pin-form {
    padding: 2.3rem;
    
    h1 {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        padding: 0 0 2rem 0; 
    }

    &__inner {
        display: flex;
        flex-direction: column;
        // background-color: grey;
    }

    &__mid {
        display: flex;
        padding-bottom: 1rem;
    }
    
    &__mid-inner {
        min-width: 438px;
    }

    &__input {
        @include form-input;
        font-size: 1rem;
        width: 100%;
        margin: 1rem 0;
    }
    
    
    textarea {
        @include form-textarea;
        min-height: 40px;
        width: 100%;
        font-size: 1rem;
        margin: 1rem 0;
    }
    
    &__input:hover, textarea:hover {
        border: var(--input__hov-border);
    }

    &__input:focus, textarea:focus {
        border: var(--input__focus-border);
        background-color: var(--input__focus-back-clr);
    } 

    label { 
        display: flex; 
        align-items: center;
        justify-content: space-between;
        @include small-text;
        border-bottom: 1px solid rgb(195, 195, 195);
        padding: 0 1rem;

        h3 {
            width: 200px;
        }
    }

    &__pin-img {
        width: 227px;
        border-radius: .5rem;
        margin: 0 1rem 1rem 1rem;
    }

    &__btns {
        display: flex;
        justify-content: space-between;

        button {
            @include btn;
            @include grey-btn;
        }

        button:hover {
            background-color: var(--hov-grey);
        }

        .red {
            @include red-btn;
            margin-left: 1rem;
        }

        .red:hover {
            background-color: var(--red-btn-hov);
        }
    }
}