.pin-index-outer {
    padding: 0 3.5rem;
    // width: 100%;
    // background-color: hotpink;

    h1 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .pin-index {
        box-sizing: border-box;
        // display: flex;
        // flex-wrap: wrap;
        width: 100%;
        // display: grid;
        display: column;
        columns: 5;
        // grid-template-columns: repeat(5, 1fr);
        // background-color: pink;

        .teal {
            border: 5px solid rgb(0, 153, 158);
        }
        .magenta {
            border: 5px solid rgb(255, 0, 191);
        }
        .gold {
            border: 5px solid rgb(218, 167, 0);
        }
        .light {
            border: 5px solid rgb(207, 207, 207);
        }
        .dark {
            border: 5px solid rgb(41, 41, 41);
        }
        
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            // width: 20%;
            padding: .4rem 0;
            // background-color: red;
            align-self: flex-start;
            cursor: zoom-in;
    
            img {
                width: 100%;
                border-radius: 1rem;
            }
    
            h2 {
                width: 95%;
                padding: .4rem;
                font-weight: 500;
                letter-spacing: var(--lett-space);
                font-size: .95rem;
            }
        }
    }

    .pin-index > * {
        break-inside: avoid;
    }
}

.all-pins {
    text-align: center;
    font-weight: 600;
    letter-spacing: var(--lett-space);
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

.pin-index-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    // padding: 0 3.5rem;
}

// .follow-header {
//     text-align: center;
//     font-weight: 600;
//     letter-spacing: var(--lett-space);
//     font-size: 1.5rem;
//     padding: 1.5rem 0;
// }

.pin-index-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    h1 {
        letter-spacing: var(--lett-space);
        font-weight: 600;
        font-size: 2rem;
        padding: 1rem;
    }
}

.pin-index-empty, .follow-header {
    letter-spacing: var(--lett-space);
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    padding-top: 2rem;
}
