@mixin link-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.pin-show {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 255, 133);

    &__back {
        @include link-con;
        position: fixed;
        top: 100px;
        left: 20px;

        img {
            width: 25px;
        }
    }

    &__back:hover {
        background-color: var(--lt-grey);
    }

    &__inner {
        background-color: pink;
        width: 65%;
        min-width: 500px;
        margin: 2rem 0;
        border-radius: 3rem;

        display: flex;
    }

    &__img {
        width: 50%;
        border-radius: 3rem 0 0 3rem;
    }

    &__text {
        width: 50%;
        padding: 1.5rem;
    }

    &__drop {
        display: flex;
        justify-content: space-between;
    }

    &__drop-inner {
        box-sizing: border-box;
        background-color: var(--lt-grey);
        display: flex;
        width: 250px;
        justify-content: space-between;
        border-radius: .5rem;
    }
    
    &__edit-modal {
        width: 25px;
        height: 25px;

    }

    &__save {
        background-color: var(--red);
        width: 35%;
        color: white;
        border-radius: 0 .6rem .6rem 0;
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
    }
}