@mixin btn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1em;
    border-radius: 9999px;
}

@mixin red-btn { 
    background-color: var(--red);
    color: white;
}

.pin-show-link-mod {
    box-sizing: border-box;
    background-color: pink;
    padding: 1rem;

    .pin-show-link {
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    
        img {
            width: 230px;
            border-radius: 1rem;
        }
    
        &__btn-con {
            box-sizing: border-box;
            width: 100%;
            background-color: green;
        }
    
        &__btn {
            background-color: var(--red);
            width: 50px;
        }
    }
}