@mixin link-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.pin-show {
    display: flex;
    justify-content: center;
    align-items: center;

    &__back {
        @include link-con;
        position: fixed;
        top: 100px;
        left: 20px;
        background-color: white;
        box-shadow: var(--drop-box-shad);

        img {
            width: 25px;
        }
    }

    &__back:hover {
        background-color: var(--lt-grey);
    }

    &__inner {
        width: 65%;
        min-width: 700px;
        margin: 2rem 0;
        border-radius: 3rem;
        box-shadow: 0 0 20px #77777732;;

        display: flex;
    }

    &__img {
        width: 50%;
        border-radius: 3rem 0 0 3rem;
    }

    &__text {
        width: 50%;
        padding: 1.5rem;
    }

    &__drop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    &__drop-inner {
        box-sizing: border-box;
        background-color: var(--lt-grey);
        display: flex;
        width: 250px;
        justify-content: space-between;
        border-radius: .5rem;
    }

    &__ellipsis {
        @include link-con;
        cursor: pointer;

        img {
            width: 25px;
        }
    }

    &__ellipsis:hover {
        background-color: var(--lt-grey);
    }

    &__save {
        background-color: var(--red);
        width: 35%;
        color: white;
        border-radius: 0 .6rem .6rem 0;
        text-align: center;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        padding: 2rem 0;
    }
}