:root {
    --hov-grey: #d3d3d3;
    --input-hov-grey: #c8c8c8;
    --grey: #dbdada;
    --lt-grey: #efefef;
    --font-drk-grey: rgb(31, 31, 31);
    --border-gry: rgb(218, 218, 218);
    --input__focus-back-clr: rgb(232, 240, 251);
    --red-btn-hov: rgb(165, 0, 8);
    --red: #e50123;
    --input__focus-border: 2px solid rgb(138, 192, 255);

    --b-rad-sm: .5rem;
    --b-rad-lg: 2.5rem;

    --lett-space: .02rem;
    --btn-font-size: 1.1rem;
    --btn-font-w: 600;
    --btn-pad: 1em;

    --drop-box-shad: box-shadow: 0 0 10px #77777757;

    @mixin btn {
        font-size: 1.1rem;
        font-weight: 600;
        padding: 1em;
        border-radius: 9999px;
    }
    
    @mixin red-btn { 
        background-color: var(--red);
        color: white;
    }
    
    @mixin grey-btn {
        background-color: var(--lt-grey);
        color: var(--font-drk-grey);  
    }
}
