@mixin btn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1em;
    border-radius: 9999px;
}

@mixin red-btn { 
    background-color: var(--red);
    color: white;
}

@mixin grey-btn {
    background-color: var(--lt-grey);
    color: var(--font-drk-grey);  
}

@mixin small-text {
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: var(--lett-space);
}

@mixin link-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}