:root {
    --hov-grey: #d3d3d3;
    --input-hov-grey: #c8c8c8;
    --grey: #dbdada;
    --lt-grey: #efefef;
    --font-drk-grey: #111;
    --border-gry: rgb(218, 218, 218);
    --input__focus-back-clr: rgb(232, 240, 251);
    --red-btn-hov: rgb(165, 0, 8);
    --input__focus-border: 2px solid rgb(138, 192, 255);

    --b-rad-sm: .3rem;
    --b-rad-lg: 1.3rem;

    --lett-space: .02rem;
    --btn-font-size: 1.1rem;
    --btn-font-w: 600;
    --btn-pad: 1em;
}