:root {
    --hov-grey: #d3d3d3;
    --grey: #dbdada;
    --lt-grey: #efefef;
    --b-rad-sm: .3rem;
    --b-rad-lg: 1.3rem;
    --lett-space: .02rem;
    --btn-font-size: 1.1rem;
    --btn-font-w: 600;
    --font-drk-grey: #111;
    --btn-pad: 1em;
}