/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*navbar */

.nav-container {
  /* display:flex; */
  padding: 10px;
}

.logo-container{

}

.logo {
  height: 18px;
  width: 18px;
}

.site-name { 
  color:rgb(212, 0, 18)
}


.nav-links {
  justify-content: flex-end;
}

.login {
  background-color: rgb(228, 0, 19);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 5px;
  text: bold;
  font-size: 9px;
  font-weight: bold;
}

.signup {
  background-color: rgb(236, 236, 236);
  color: black;
  border: none;
  border-radius: 12px;
  padding: 5px;
  text: bold;
  font-size: 9px;
  font-weight: bold;
  padding: 6px
}