/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*navbar */

/* .header {
  padding: 10px;
}

.logo-container{
  float: left;
}

.logo {
  height: 18px;
  width: 18px;
}

.site-name { 
  color:rgb(212, 0, 18)
}



.link-container {
  float: right;
}

.link-container span {
  padding-left: 5px;
  font-size: 9px;
  font-weight: bold;
}

.mid-links {
  margin-right: 50 px;
}

.nav-links button{
  margin-right: 8px;
  border: none;
  border-radius: 12px;
  font-size: 9px;
  font-weight: bold;
  padding: 6px;
}

.login {
  background-color: rgb(228, 0, 19);
  color: white;
}

.signup {
  background-color: rgb(236, 236, 236);
  color: black;
} */

li {
    list-style: none;
}

.logo {
  height: 18px;
  width: 18px;
}

.header {
   font-family: Helvetica;
   color: black;
   font-size: 9px;
   font-weight: bold;
 }

.header-logo {
    float: left;
    display: flex;
    padding-left: 13px;
    padding-top: 3px;
}

.header-logo li{
    color:rgb(214, 0, 11);
    padding: 1px;
}

.app-name {
  margin-top: 3px;
  font-size: 11px;
}

.header-nav-lists {
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    padding-top: 3px;
}

.header-nav-lists ul {
  display: flex;
  justify-content: flex-start;
}

.mid-links li {
  padding: 5px;
}

.nav-links{

  
}
.nav-links button {
  border-radius: 12px;
  border: none;
  font-size: 9px;
  font-weight: bold;
  padding: 6px;

}

.login {
  background-color: rgb(214, 0, 11);
  color: white; 
  margin-right: 10px;
}

.signup {
  background-color: rgb(236, 236, 236);
  color: black;
}