.home-nav-bar {
    display: flex;
    justify-content: space-between;
}

.home-logo {
    height: 13px;
    width: 13px;
}

.home-nav-bar .nav-links {
    display: flex;
    justify-content: space-around;
}

.home-nav-bar .nav-links li {
    padding: 5px;
}

.home-nav-bar .nav-dropdowns li {
    padding: 5px;
}

.update-bell {
    height: 13px;
    width: 13px;
}

.inbox-link {
    height: 13px;
    width: 13px;
}

.home-nav-bar .searchbar {
    background-color: rgb(233, 233, 233);
    width: 175px;
    margin: 5px;
}

.home-nav-bar .nav-dropdowns {
    display: flex;
}

.dropdown-outer {
  position: relative;  
}

.dropdown-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
}
