html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
    list-style: none;
}

.logo {
  height: 18px;
  width: 18px;
}

.header {
   font-family: Helvetica;
   color: black;
   font-size: 9px;
   font-weight: bold;
 }

.header-logo {
    float: left;
    display: flex;
    padding-left: 13px;
    padding-top: 3px;
}

.header-logo li{
    color:rgb(214, 0, 11);
    padding: 1px;
}

.app-name {
  margin-top: 3px;
  font-size: 11px;
}

.header-nav-lists {
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    padding-top: 3px;
}

.header-nav-lists ul {
  display: flex;
  justify-content: flex-start;
}

.mid-links {
  padding-top: 6px;
  padding-right: 11px;
}

.mid-links li {
 padding-right: 18px;
}

.nav-links{
  padding-left: 0px; 
}

.nav-links button {
  border-radius: 12px;
  border: none;
  font-size: 9px;
  font-weight: bold;
  padding: 6px;

}

.login {
  background-color: rgb(214, 0, 11);
  color: white; 
  margin-right: 10px;
}

.signup {
  background-color: rgb(236, 236, 236);
  color: black;
}