.edit-board-form{
    padding: 2.3rem;
}

.edit-board-form h1{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;    
}

.edit-board-form h2{
    font-size: 12px;  
    margin-bottom: 9px;  
    margin-top: 19px;  
}

.edit-board-form form{
    display: flex;
    flex-direction: column;
}

.edit-board-form form input{
    border-radius: 12px;
    border: 2px solid rgb(219, 219, 219);
    min-height: 23px;
    padding: 9px;
}

.edit-board-form form input:hover{
    border: 2px solid var(--input-hov-grey);
}

.edit-board-form form input:focus {
    border: 2px solid rgb(138, 192, 255);
    background-color: rgb(232, 240, 251);
}
.edit-board-form form textarea{
    border-radius: 12px;
    border: 2px solid rgb(219, 219, 219);
    min-height: 123px;
    padding: 9px;
    font-size: 17px;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
    resize: none;
}
.edit-board-form form textarea:hover{
    border: 2px solid var(--input-hov-grey);
}
.edit-board-form form textarea:focus{
    border: 2px solid rgb(138, 192, 255);
    background-color: rgb(232, 240, 251);
    outline: none;

}

.edit-board-form form div{
    display: flex;
    justify-content: flex-end;
    height: 150px;
    align-items: flex-end;
}

.edit-board-form ul{
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
}

.edit-board-form form button{
    box-sizing: border-box;
    text-align: center;
    font-weight: 500;
    background-color: rgb(236, 236, 236);
    width: 82px;
    height: 45px;
    border-radius: 20px;
    color: rgb(86, 86, 86);
}

.edit-board-form .done{
    color: white;
    background-color: rgb(214, 0, 11);  
}
.edit-board-form .done:hover{
    color: white;
    background-color: rgb(156, 1, 8);  
}
.edit-board-form .delete:hover{
     background-color: rgb(219, 218, 218);
}